.contract
  .contract__main
    .contract__main__title
      購入内容の確認
    .contracct__main__item
      .contract-image
        = image_tag "#{@product.images[0].image.url}", size: '200×150', class: 'contract-image__detail'
      .contract-details
        .contract-details__item-name
          %span 商品名:
          = @product.name
    .contract__main__price-table
      .contract__main__price-table__left
        支払い金額
      .contract__main__price-table__right
        %p= "¥ #{@product.price}円"
    .contract__main__user-info
      .contract__main__user-info__inner
        %h3 支払い方法
      - if @card_info.blank?
        .contract__main__user-info__inner
          .icon
            = icon("far", "plus-square")
          .text
            =link_to "クレジットカードを登録する", new_card_path, class:"text"
      - else
        .contract__main__card
          = "**** **** **** " + @card_info.last4
        .contract__main__card
          = @card_info.exp_month.to_s + "月 / " + @card_info.exp_year.to_s.slice(2,3) + "年"
    .contract__main__btn
      = link_to product_contracts_path(@product, @contract), method: :post do
        .buy-button
          購入を確定する

= render 'toppage/exhibitionBotton'