
%body
  %header
    .headerInner
      .mainHeader
        %h1.appIcon
          = link_to root_path, class: "hed" do
            = image_tag 'logo.png', alt: 'ロゴ'
        .searchBox
          %form(action="#" method="get")
            %input{name: :"utf8", style: :"user-select: auto;", type: :"hidden", value: :"✓"}/
            %input#searchInput(type="text" class="input"  name="key" placeholder="キーワードから探す")/
            %button(type="submit")
              .searchIcon
                = image_tag 'icon-search 1.png', alt: 'サーチロゴ'
        %ul.resultLists
      .nav
        %ul.leftLists
          %li.leftLists-item.leftLists-item-first
            = link_to "#" do
              = image_tag 'icon_category.png'
              カテゴリー
            .tree.displayNone
              %ul.categoryTree
                %li.categoryTree__item
                  = link_to "レディース", '#'
                %li.categoryTree__item
                  = link_to "メンズ", '#'
                %li.categoryTree__item
                  = link_to "ベビー・キッズ", '#'
                %li.categoryTree__item
                  = link_to "インテリア・住まい・小物", '#'
                %li.categoryTree__item
                  = link_to "本・音楽・ゲーム", '#'
                %li.categoryTree__item
                  = link_to "おもちゃ・ホビー・グッズ", '#'
                %li.categoryTree__item
                  = link_to "コスメ・香水・美容", '#'
                %li.categoryTree__item
                  = link_to "家電・スマホ・カメラ", '#'
                %li.categoryTree__item
                  = link_to "スポーツ・レジャー", '#'
                %li.categoryTree__item
                  = link_to "ハンドメイド", '#'
                %li.categoryTree__item
                  = link_to "チケット", '#'
                %li.categoryTree__item
                  = link_to "自動車・オートバイ", '#'
                %li.categoryTree__item
                  = link_to "その他", '#'
          %li.leftLists-item
            = link_to "#" do
              = image_tag 'icon_brand.png'
              ブランド
            %ul.brandsPulldown.displayNone
        %ul.rightLists
          %li.rightLists-link.rightLists-link-login
            = link_to "ログイン", login_path
          %li.rightLists-link.rightLists-link-new
            = link_to "新規会員登録", signup_path
  .mainVisual
    .content
      %h2.content__subtitle
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br フリマアプリです
      .content__btn
    .picture
  .topIntroduction
    %h2.subtitle
      選ばれる3つの理由
      %after
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag "pict-reason-01.jpg", alt: '3分ですぐに出品'
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description スマホで入力するだけで簡単に出品できる！     
      %li.list
        .list__pict
          %span 2
          = image_tag "pict-reason-02.jpg", alt: 'シンプルで使いやすい'
        %h3.list__text 
          %span シンプル
          で使いやすい
        %p.list__description めんどくさい入力は必要なく、検索も購入もスムーズ！
      
      %li.list
        .list__pict
          %span 3
          = image_tag "pict-reason-03.jpg", alt: '手数料 業界最安'
        %h3.list__text
          手数料 
          %span 業界最安
        %p.list__description 
          最大3%でお得に出品&amp;購入！  
  .topMiddleDl
    .topMiddleDl__inner
      %h2.subtitle 会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気。
        %br 出品・購入回数も業界最多です！
        %br ほしかったあの商品に出会えるかもしれません。
      .btn
        = link_to "App Store", '#'
        = link_to "Google", '#'
  .topFeatures
    %h2.head
      特徴
    .items
      .item
        .item__img
          = image_tag "icon-01.png", alt: '簡単に売り買いできる'
        %h3.item__subtitle 簡単に売り買いできる
        %p.item__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .item
        .item__img
          = image_tag "icon-03.png", alt: '売上金は即日振込みに対応'
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .item
        .item__img
          = image_tag "icon-04.png", alt: '様々な支払いに対応'
        %h3.item__subtitle 様々な支払いに対応
        %p.item__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickupSpace
    %h2.head 人気のカテゴリー    
    .productBox
      .productHead
        = link_to "#", class: "hed" do 
          %h3 新規登録商品
      .productLists
        - @products.each do |product|
          .productList
            = link_to "#", class: "sed" do           
              .productList--img
                - product.images.each do |image|
                  = image_tag image.image.url, alt: "エラー"
              .productList--body
                %h3.name= product.name
                .details 
                  %ul
                    %li= product.price
                    %li
                      %i.fa.fa-star.likeIcon{style: :"user-select: auto;"}
                      0
                  %p (税込) 
  .pickupSpace.paddingButtom
    %h2.head 人気のブランド
    .productBox
      .productHead
        = link_to "#", class: "hed" do 
          %h3 新規登録商品
      .productLists
        - @products.each do |product|
          .productList
            = link_to "#", class: "sed" do           
              .productList--img
                - product.images.each do |image|
                  = image_tag image.image.url, alt: "エラー"
              .productList--body
                %h3.name= product.name
                .details 
                  %ul
                    %li= product.price
                    %li
                      %i.fa.fa-star.likeIcon{style: :"user-select: auto;"}
                      0
                  %p (税込) 
  .appBanner
    .inner
      %h2.inner__title　誰でもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード！
      .inner__icon
        = link_to "App Store", '#'
        = link_to "Google", '#'
  %footer.footer
    %ul.contents
      %li.content
        %h2.content__head このアプリについて
        %ul
          %li
            = link_to "会社概要（運営会社）", '#'
          %li
            = link_to "プライバシーポリシー", '#' 
          %li
            = link_to "FURIMA利用規約", '#'
          %li
            = link_to "ポイントに関する特約", '#'   
      %li.content
        %h2.content__head このアプリを見る
        %ul
          %li
            = link_to "カテゴリー一覧", '#'
          %li
            = link_to "ブランド一覧", '#' 
      %li.content
        %h2.content__head ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド", '#'
          %li
            = link_to "FURIMAロゴ利用ガイドライン", '#'
          %li
            = link_to "お知らせ", '#'
    .footer__logo
      = link_to root_path, class: "hed" do
        = image_tag 'logo-white.png'
    %p ©️ FURIMA  
  = link_to new_product_path, class: "product" do
    .purchaseBtn
      %span.purchaseBtn__text{style: :"user-select: auto;"} 出品する
      = image_tag 'icon_camera.png', class: 'purchaseBtn__icon'