%body  
  = render "header"
  .main
    .showMain
      .contentRight
        .topContent
          .itemBox
            %h2.itemBox__name サンプル
            .itemBox__body
              %ul
                %li
                  %img/
                  %ul
                    %li
                      %img/
                    %li
                      %img/
                    %li
                      %img/
            .itemBox__price
              %span ¥300
              .itemBox__price-detail
                %span （税込）
                %span 送料込
            .itemDetail
              商品詳細　サンプル
            .table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td ？？？
                  %tr
                    %th カテゴリー
                    %td
                      = link_to('ベビー・キッズ', "#")
                      %br/
                      = link_to('ベビー服(男女兼用) ~95cm', "#")
                      %br/
                      = link_to('アウター', "#")
                  %tr
                    %th ブランド
                    %td
                  %tr
                    %th 商品のサイズ
                    %td
                  %tr
                    %th 商品の状態
                    %td 未使用に近い
                  %tr
                    %th 配送料の負担
                    %td
                      = link_to('東京都',"#")
                  %tr
                    %th 発送元の地域
                    %td 送料込み（出品者負担）
                  %tr
                    %th 発送日の目安
                    %td 4-7日で発送
            .optionalArea
              %ul
                %li.optionalBtn.likeBtn
                  %i.fa.fa-star
                  お気に入り　０
              %ul.optional
                %li.optionalBtn
                  = link_to　'#' do
                    %i.fa.fa-flag
                    不適切な商品の通報
          .commentBox
        %ul.links
          %li
            = link_to "#", class: "link" do
              %i.fa.fa-angle-left
              前の商品
          %li
            = link_to "#", class: "link" do
              %i.fa.fa-angle-right
              次の商品
        .relatedItems
          = link_to 'このカテゴリーをもっと見る',"#",class:"link"
          .productLists
            .productList
              = link_to product_path(product.id), method: :get, class: "link" do
                .productList__image
                  %img/
                .productList__body
                  %h3.name
                  .details
                    %ul
                      %li 100円
                      %li
                        %i.fa.fa-star.likeIcon{style: :"user-select: auto;"}
                        ０
                    %p （税込）
  = render "appBanner"
  = render "footer"
  = link_to new_product_path, class: "product" do
    .purchaseBtn
      %span.purchaseBtn__text{style: :"user-select: auto;"} 出品する
      = image_tag 'icon_camera.png', class: 'purchaseBtn__icon'
