.new-listing
  .new-listing__single-container
    = form_with(model: @product, local: true) do |f|
      .new-listing__single-head
        商品の情報を入力
      .new-listing__sell-form
        .new-listing__sell-upload-box
          .new-listing__sell-upload-head
            出品画像
            .new-listing__form-require
              必須
        .new-listing__p
          最大10枚までアップロードできます

        #image-box-1
          #previews
            - if @product.persisted?
              - @product.images.each_with_index do |pic, i|
                = image_tag pic.image.url, data: { index: i }, width: "100", height: '100'
          = f.fields_for :images do |pic|
            .js-file_group{"data-index" => "#{pic.index}"}
              = pic.file_field :image, class: 'js-file'
              %br/
              %span.js-remove 削除
            - if @product.persisted?
              = pic.check_box :_destroy, data:{ index: pic.index }, class: 'hidden-destroy'
          - if @product.persisted?
            .js-file_group{"data-index" => "#{@product.images.count}"}
              = file_field_tag :image, name: "product[images_attributes][#{@product.images.count}][image]", class: 'js-file'
              .js-remove 削除
              
      .new-listing__sell-content
        .new-listing__form-group
          .new-listing__sell-upload-head
            = f.label :name,"商品名"
            %span.new-listing__form-require
              必須
          = f.text_field :name ,class: "input-default" ,placeholder: "商品名（必須 40文字まで)"
        .new-listing__no-product.no-product-name
        .new-listing__form-group
          .new-listing__sell-upload-head
            = f.label :description, "商品の説明"
            %span.new-listing__form-require
              必須
          = f.text_area :description, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
        .new-listing__no-product.no-product2

      .new-listing__content-show
        %h3.show-sub-head
          商品の詳細
        .new-listing__show-form-box
          .new-listing__tk-form-group
            .new-listing__select-wrap
              = f.label :category_id, "カテゴリー" ,class: "new-listing__sell-up-load-head"
              %span.new-listing__form-require
                必須
            -if @product.persisted?
              .sell__about__right__wrap-box.parent
                = f.collection_select(:category_id, Category.where(ancestry: nil), :id, :name, {prompt: "---", selected: @product.category.parent.parent_id}, {id: "parent"})
              .children
                = f.collection_select(:category_id, @product.category.parent.parent.children, :id, :name, {prompt: "---", selected: @product.category.parent_id}, {id: "child"})
              .grand_children
                = f.collection_select(:category_id, @product.category.parent.children, :id, :name, {prompt: "---", selected: @product.category.id}, {id: "grand_child"})
            -else
              .sell__about__right__wrap-box.parent
                %select#parent
                  %option{value: 0} ---
                  - @parent_categories.each do |parent|
                    %option{value: "#{parent.id}"} #{parent.name}
              .child
                %select#child
              .grand_child
                = f.collection_select(:category_id, [], :id, :name, {prompt: "---"}, {id: "grand_child"})
              .new-listing__no-product
                選択してください
          .new-listing__tk-form-group
            .new-listing__sell-upload-head
              = f.label :ブランド
              %span.new-listing__form-require2
                任意
            .new-listing__select-wrap
              = f.text_field :brand, class: "brand-select", placeholder: "例）シャネル"

          .new-listing__tk-form-group
            .new-listing__sell-upload-head
              = f.label :商品の状態
              %span.new-listing__form-require
                必須
            .new-listing__select-wrap
              %i.icon-arrow-bottom
                = f.select :condition, Product.conditions_i18n.invert, {}, class: "select-default"
              .new-listing__no-product.no-product4

      .new-listing__content-show2
        %h3.show-sub-head
          配送について
        .new-listing__show-form-box
          .new-listing__tk-form-group
            .new-listing__sell-upload-head
              = f.label :send_price,"配送料の負担"
              %apan.new-listing__form-require
                必須
            .new-listing__select-wrap
              = f.select :send_price, Product.send_prices_i18n.invert, {}, class: "select-default"
              .new-listing__no-product.no-product5
          
          .new-listing__tk-form-group
            .new-listing__sell-upload-head
              発送元の地域
              .new-listing__form-require
                必須
            .new-listing__select-wrap
              %i.icon-arrow-bottom
                = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, prompt: "---")
              .new-listing__no-product
                選択してください

          .new-listing__tk-form-group
            .new-listing__sell-upload-head
              = f.label :ship_day,"発送までの日数"
              %span.new-listing__form-require
                必須
            .new-listing__select-wrap
              = f.select :ship_day, Product.ship_days_i18n.invert, {}, class: "select"
              .new-listing__no-product.no-product7
               
      .new-listing__settlement
        %p.tk-value
          価格（¥300~¥9,999,999)
        .new-listing__tk-selling-price
          .new-listing__input-price
            .new-listing__sell-upload-head2
              = f.label :price,"販売価格"
              %span.new-listing__form-require
                必須
            %span.doll-mark
              ¥
            .new-listing__enter-price
              .new-listing__enter-price2
                = f.number_field :price, placeholder: "0", class: "tk-price"
                .new-listing__no-product.no-product2
        .new-listing__send-boxes
          .new-listing__send-box
            -if @product.persisted?
              = f.submit "編集する", class: "send-btn"
              = link_to "戻る", product_path(@product)
            - else
              = f.submit "出品する", class: "send-btn"
              = link_to "戻る", root_path
