%header
  .headerInner
    .mainHeader
      %h1.appIcon
        = link_to root_path, class: "hed" do
          = image_tag 'logo.png', alt: 'ロゴ'
      .searchBox
        %form(action="#" method="get")
          %input{name: :"utf8", style: :"user-select: auto;", type: :"hidden", value: :"✓"}/
          %input#searchInput(type="text" class="input"  name="key" placeholder="キーワードから探す")/
          %button(type="submit")
            .searchIcon
              = image_tag 'icon-search 1.png', alt: 'サーチロゴ'
      %ul.resultLists
    .nav
      %ul.leftLists
        %li.leftLists-item.leftLists-item-first
          = link_to '#' do
            = image_tag 'icon_category.png',alt: 'エラー'
            %p カテゴリー
          .tree.displayNone
            %ul.categoryTree
              %li.categoryTree__item
                = link_to "レディース", '#'
              %li.categoryTree__item
                = link_to "メンズ", '#'
              %li.categoryTree__item
                = link_to "ベビー・キッズ", '#'
              %li.categoryTree__item
                = link_to "インテリア・住まい・小物", '#'
              %li.categoryTree__item
                = link_to "本・音楽・ゲーム", '#'
              %li.categoryTree__item
                = link_to "おもちゃ・ホビー・グッズ", '#'
              %li.categoryTree__item
                = link_to "コスメ・香水・美容", '#'
              %li.categoryTree__item
                = link_to "家電・スマホ・カメラ", '#'
              %li.categoryTree__item
                = link_to "スポーツ・レジャー", '#'
              %li.categoryTree__item
                = link_to "ハンドメイド", '#'
              %li.categoryTree__item
                = link_to "チケット", '#'
              %li.categoryTree__item
                = link_to "自動車・オートバイ", '#'
              %li.categoryTree__item
                = link_to "その他", '#'
        %li.leftLists-item
          = link_to '#' do
            = image_tag 'icon_brand.png', alt: 'エラー'
            %p ブランド
          %ul.brandsPulldown.displayNone
      %ul.rightLists
        -if user_signed_in?
          %li.rightLists-link.rightLists-link-login
            = link_to "ログアウト", logout_path
          %li.rightLists-link.rightLists-link-new
            = link_to "マイページ", user_path(current_user)
        -else
          %li.rightLists-link.rightLists-link-login
            = link_to "ログイン", login_path
          %li.rightLists-link.rightLists-link-new
            = link_to "新規会員登録", signup_path
          